<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- SystemObject -->
	<bean id="dao_systemobject" class="ma.meditel.reporting.dao.implementations.SystemObjectDaoImpl"></bean>
	<bean id="metier_systemobject" class="ma.meditel.reporting.metier.implementations.SystemObjectMetierImpl">
		<property name="dao" ref="dao_systemobject"></property>
	</bean>

	<!-- User -->
	<bean id="dao_user" class="ma.meditel.reporting.dao.implementations.UserDaoImpl"></bean>
	<bean id="metier_user" class="ma.meditel.reporting.metier.implementations.UserMetierImpl">
		<property name="dao" ref="dao_user"></property>
	</bean>
	
	<!-- Node -->
	<bean id="dao_node" class="ma.meditel.reporting.dao.implementations.NodeDaoImpl"></bean>
	<bean id="metier_node" class="ma.meditel.reporting.metier.implementations.NodeMetierImpl">
		<property name="dao" ref="dao_node"></property>
	</bean>
	
	<!-- Interface -->
	<bean id="dao_interface" class="ma.meditel.reporting.dao.implementations.InterfaceDaoImpl"></bean>
	<bean id="metier_interface" class="ma.meditel.reporting.metier.implementations.InterfaceMetierImpl">
		<property name="dao" ref="dao_interface"></property>
		<property name="dao_TrafficClass" ref="dao_traffic_class"></property>
	</bean>
	
	<!-- Traffic -->
	<bean id="dao_traffic" class="ma.meditel.reporting.dao.implementations.TrafficDaoImpl"></bean>
	<bean id="metier_traffic" class="ma.meditel.reporting.metier.implementations.TrafficMetierImpl">
		<property name="dao" ref="dao_traffic"></property>
	</bean>

	<!-- Interface Physique -->
	<bean id="dao_interface_physic" class="ma.meditel.reporting.dao.implementations.InterfacePhysicDaoImpl"></bean>
	<bean id="metier_interface_physic" class="ma.meditel.reporting.metier.implementations.InterfacePhysicMetierImpl">
		<property name="dao" ref="dao_interface_physic"></property>
	</bean>
	
	<!-- Charge Cpu -->
	<bean id="dao_charge_cpu" class="ma.meditel.reporting.dao.implementations.ChargeCpuDaoImpl"></bean>
	<bean id="metier_charge_cpu" class="ma.meditel.reporting.metier.implementations.ChargeCpuMetierImpl">
		<property name="dao" ref="dao_charge_cpu"></property>
	</bean>
	
	<!-- Interfaces Autorized Alias -->
	<bean id="dao_interface_autorized_alias" class="ma.meditel.reporting.dao.implementations.InterfaceAutorizedAliasDaoImpl"></bean>
	<bean id="metier_interface_autorized_alias" class="ma.meditel.reporting.metier.implementations.InterfaceAutorizedAliasMetierImpl">
		<property name="dao" ref="dao_interface_autorized_alias"></property>
	</bean>
	
	<!-- Traffic per class -->
	<bean id="dao_traffic_class" class="ma.meditel.reporting.dao.implementations.TrafficPerClassDaoImpl"></bean>
	<bean id="metier_traffic_class" class="ma.meditel.reporting.metier.implementations.TrafficPerClassMetierImpl">
		<property name="dao" ref="dao_traffic_class"></property>
	</bean>
	
	<!-- Stream -->
	<bean id="dao_stream" class="ma.meditel.reporting.dao.implementations.StreamDaoImpl"></bean>
	<bean id="metier_stream" class="ma.meditel.reporting.metier.implementations.StreamMetierImpl">
		<property name="dao" ref="dao_stream"></property>
	</bean>
	
	<!-- BugAmelioration -->
	<bean id="dao_bug_amelioration" class="ma.meditel.reporting.dao.implementations.BugAmeliorationDaoImpl"></bean>
	<bean id="metier_bug_amelioration" class="ma.meditel.reporting.metier.implementations.BugAmeliorationMetierImpl">
		<property name="dao" ref="dao_bug_amelioration"></property>
	</bean>
	
	<!-- System FTP -->
	<bean id="dao_system_ftp" class="ma.meditel.reporting.dao.implementations.SystemFTPDaoImpl"></bean>
	<bean id="metier_system_ftp" class="ma.meditel.reporting.metier.implementations.SystemFTPMetierImpl">
		<property name="dao" ref="dao_system_ftp"></property>
	</bean>
	
	<!-- Traffic Notification System -->
	<bean id="dao_traffic_notification" class="ma.meditel.reporting.dao.implementations.TrafficNotificationDaoImpl"></bean>
	<bean id="metier_traffic_notification" class="ma.meditel.reporting.metier.implementations.TrafficNotificationMetierImpl">
		<property name="dao" ref="dao_traffic_notification"></property>
		<property name="daoTraffic" ref="dao_traffic"></property>
		<property name="daoInterface" ref="dao_interface"></property>
		<property name="daoTrafficClassificatio" ref="dao_traffic_class"></property>
	</bean>
	
	<!-- statistics generales -->
	<bean id="metier_statistics_generales" class="ma.meditel.reporting.metier.implementations.GeneralStatisticsMetierImpl"></bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/DB_MEDITEL_PROJET_2"></property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>
	</bean>
	
	<bean id="persistenceUnitManager" class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath*:META-INF/persistence.xml</value>
			</list>
		</property>
		<property name="defaultDataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitManager" ref="persistenceUnitManager"></property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"></property>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	<context:annotation-config></context:annotation-config>
</beans>
